In [3]:
import random
import pandas as pd
import numpy as np
import statsmodels.tsa.stattools as sttl

In [4]:
name1 = "ACN"
name2 = "TSM"

In [5]:
x = pd.read_csv("{}.csv".format(name1))
y = pd.read_csv("{}.csv".format(name2))
x_y = pd.merge(left=x, right=y, how="inner", on="Date")

In [6]:
x_y

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Dividends_x,Stock Splits_x,Open_y,High_y,Low_y,Close_y,Volume_y,Dividends_y,Stock Splits_y
0,2001-07-19,11.234038,11.375393,11.159640,11.286116,34994300,0.0,0,5.273693,5.350124,5.273693,5.350124,4410910,0.0,0.0
1,2001-07-20,11.196839,11.196839,11.010845,11.167080,9238500,0.0,0,5.222741,5.222741,5.077160,5.117195,4079558,0.0,0.0
2,2001-07-23,11.159637,11.167077,10.824848,11.159637,7501000,0.0,0,5.117192,5.117192,4.876983,4.876983,4460811,0.0,0.0
3,2001-07-24,11.122439,11.137319,10.936445,11.055481,3537300,0.0,0,4.891543,4.902461,4.785996,4.789635,3598501,0.0,0.0
4,2001-07-25,10.936445,11.122439,10.899246,11.122439,4208100,0.0,0,4.876984,4.964333,4.822391,4.957054,4754038,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037,2021-07-28,320.850006,321.000000,316.119995,316.309998,2006300,0.0,0,113.940002,115.510002,113.879997,115.070000,6819700,0.0,0.0
5038,2021-07-29,317.820007,319.140015,316.130005,318.350006,1863800,0.0,0,116.000000,117.110001,115.610001,116.150002,7162000,0.0,0.0
5039,2021-07-30,317.709991,319.179993,316.899994,317.679993,2305400,0.0,0,115.500000,117.419998,115.190002,116.639999,6481500,0.0,0.0
5040,2021-08-02,319.269989,319.489990,315.500000,316.079987,1507200,0.0,0,117.500000,118.379997,116.660004,116.860001,6023000,0.0,0.0
5041,2021-08-03,317.769989,317.769989,316.109985,316.375000,174077,0.0,0,117.309998,118.059998,116.879997,117.010002,776881,0.0,0.0

In [10]:
i = x_y.index[x_y["Date"] == "2010-01-04"][0]

In [11]:
j = x_y.index[x_y["Date"] == "2014-12-31"][0]

In [7]:
i, j

(8164, 8667)

In [8]:
x_y.iloc[i:j+1, :]

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
8163,2019-01-02,219.910004,226.169998,219.000000,224.570007,224.570007,2784100,99.550003,101.750000,98.940002,101.120003,98.375481,35329300
8164,2019-01-03,220.880005,223.630005,215.149994,215.699997,215.699997,3663500,100.099998,100.190002,97.199997,97.400002,94.756454,42579100
8165,2019-01-04,219.839996,227.649994,217.479996,226.190002,226.190002,4043400,99.720001,102.510002,98.930000,101.930000,99.163513,44060600
8166,2019-01-07,229.949997,232.600006,227.289993,229.259995,229.259995,3638500,101.639999,103.269997,100.980003,102.059998,99.289970,35656100
8167,2019-01-08,232.649994,233.770004,228.330002,232.679993,232.679993,3685900,103.040001,103.970001,101.709999,102.800003,100.009888,31514400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8662,2020-12-23,505.130005,505.459991,496.589996,496.910004,496.910004,1428300,223.110001,223.559998,220.800003,221.020004,220.512131,18699600
8663,2020-12-24,499.160004,503.010010,497.279999,499.859985,499.859985,589200,221.419998,223.610001,221.199997,222.750000,222.238144,10550600
8664,2020-12-28,505.609985,506.040009,496.820007,498.950012,498.950012,1515400,224.449997,226.029999,223.020004,224.960007,224.443069,17933500
8665,2020-12-29,501.170013,505.350006,499.739990,502.109985,502.109985,1434100,226.309998,227.179993,223.580002,224.149994,223.634918,17403200
8666,2020-12-30,503.049988,504.369995,496.329987,497.450012,497.450012,1529900,225.229996,225.630005,221.470001,221.679993,221.170593,20272300

In [131]:
x_y = x_y[8980:11500]

In [100]:
x_y = x_y[5395:7900]

In [132]:
x = np.array(x_y["Close_x"])
y = np.array(x_y["Close_y"])

In [133]:
score, train_coint, _ = sttl.coint(x, y)

In [134]:
train_coint

0.5376855447027166